.vscode/
.idea/
*.iml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
__pypackages__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.pyre/
.pytype/

.ruff_cache/
.pypirc
